# Dependencies
node_modules

# Build output
dist

# Development
.env
.env.local
.env.*.local

# Logs
npm-debug.log*

# Testing
coverage
.nyc_output
tests

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Documentation
README.md
*.md
